{% extends 'base.html'  %}
{% load services %}

{% block title  %}
 Blogs
{% endblock %}



{% block body %}
    {% if blog_list %}
            {% for elem in blog_list %}
                {% subscriber elem.id user.id as subscribed %}


                <div class="container col align-items-center text-dark ">
                        <div class="card shadow-sm">
                            <h2>Blog by {{ elem.get_name }}</h2>
                            <p> {{ elem.description }} </p>
                            {% if subscribed %}
                                <form action="{% url 'blog_app:unsubscribe' elem.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Unsubscribe</button>
                                </form>
                                {% else %}
                                <form action="{% url 'blog_app:subscribe' elem.id  %}" method="POST">
                                    {% csrf_token %}
                                <button type="submit" class="btn btn-success me-2">Subscribe</button>
                                </form>
                            {% endif %}

                        </div>
                </div>
            {% endfor %}
    {% else %}
            <p> There is no blogs yet</p>
        {% endif %}

{% endblock %}